---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <p class="ruby">{frontmatter.ruby}</p>
    <u class="tags">
        {frontmatter.genres.map((genre) => (
            <li>
                <a href={`/tags/${genre}`}>{genre}</a>
            </li>
        ))}
    </ul>
    <div class="wrap">
        {frontmatter.details.map((detail) => (
            <article class="item">
                <div class="img-wrapper">
                    <img src={`/assets/images/${detail.image}`} alt={detail.title} />
                </div>
                <p>{detail.title}</p>
                <p>{detail.introduction}</p>
                <p>公開年：{detail.year}</p>
                <p>シーズン：{detail.season}</p>
            </article>
        ))}
    </div>
</BaseLayout>

<style>
    .wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }
    .ruby {
        margin-top: 0;
    }
    .tags {
        display: flex;
        gap: 10px;
        margin-bottom: 30px;
        list-style: none;
    }
    .img-wrapper {
        width: 100%;
        aspect-ratio: 1 / 1.4;
        overflow: hidden;
    }
    .img-wrapper img {
        width: 100%;
    }
</style>