---
import BaseLayout from './BaseLayout.astro';

const allPosts = await Astro.glob("../pages/posts/*.md");
const { frontmatter } = Astro.props;
const pathname = frontmatter.url.split("/").slice(-1)[0]

---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="column">
        <div class="main">
            <div class="item">
                <div class="content">
                    <div class="img-wrapper">
                        <img src={`/assets/images/${pathname}.jpg`} alt={frontmatter.title} />
                    </div>
                    <div class="info">
                        <p>タイトル：{frontmatter.title}</p>
                        <p>公開年：{frontmatter.release}</p>
                        <p>シーズン：{frontmatter.season}</p>
                        <p>イントロ：{frontmatter.introduction}</p>
                    </div>
                </div>
                <div class="relation">
                    <p>関連</p>
                    <ul class="relation-list">
                        {
                            allPosts.map((post) => 
                                post.frontmatter.series === frontmatter.series ?
                                    <li class="relation-item">
                                        <a href={post.url}>
                                            <img src={`/assets/images/${post.url.split("/").pop()}.jpg`} alt={post.frontmatter.title}>
                                            <span>{post.frontmatter.title}</span>
                                        </a>
                                    </li> : <></>
                            )
                        }
                    </ul>
                </div>
            </div>
        </div>
        <aside class="aside">
            <p>タグ</p>
            <ul class="tags">
                {frontmatter.genres.map((genre) => (
                    <li>
                        <a href={`/tags/${genre}`}>{genre}</a>
                    </li>
                ))}
            </ul>
        </aside>
    </div>
</BaseLayout>

<style>
    .column {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    .ruby {
        margin-top: 0;
    }
    .content {
        display: flex;
        gap: 30px;
    }
    .img-wrapper {
        width: 100%;
        max-width: 280px;
        aspect-ratio: 1 / 1.4;
        overflow: hidden;
    }
    .img-wrapper img {
        width: 100%;
    }
    .relation-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        list-style: none;
    }
</style>